*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.wrapper {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    min-height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    display: flex;
    /*flex:1;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: row;
    overflow: hidden;
}
.panel > * {
    margin: 0;
    width: 100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s ;
    -ms-transition: transform 0.5s ;
    -o-transition: transform 0.5s ;
    transition: transform 0.5s ;

    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.panel{
    background-size: cover;
    background-position: center;
    flex: 1;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    transition: 
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    color: orange;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel > *:first-child{
    transform: translateY(-100%);
}
.panel.open-active > *:first-child{
    transform: translateY(0);
}

.panel > *:last-child{
    transform: translateY(100%);
}
.panel.open-active > *:last-child{
    transform: translateY(0);
}
.panel.open{
    flex: 5;
}

.panel p {
    text-transform: uppercase;

}

.panel p:nth-child(2){
    font-size: 2.5rem;

}

.panel_01{
    background-image: url('https://picsum.photos/700/1000?image=11');
}

.panel_02{
    background-image: url('https://picsum.photos/700/1000?image=102');
}

.panel_03{
    background-image: url('https://picsum.photos/700/1000?image=104');
}

.panel_04{
    background-image: url('https://picsum.photos/700/1000?image=107');
}

.panel_05{
    background-image: url('https://picsum.photos/700/1000?image=110');
}