*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.wrapper {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    min-height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    display: flex;
    flex:1;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: row;
}

.panel{
    background-size: cover;
    flex: 1;
}

p {
    text-transform: uppercase;
}

.panel_01{
    background-image: url('https://picsum.photos/700/1000?image=11');
}

.panel_02{
    background-image: url('https://picsum.photos/700/1000?image=102');
}

.panel_03{
    background-image: url('https://picsum.photos/700/1000?image=104');
}

.panel_04{
    background-image: url('https://picsum.photos/700/1000?image=107');
}

.panel_05{
    background-image: url('https://picsum.photos/700/1000?image=110');
}