*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 1rem;
}

.wrapper {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    min-height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    display: flex;
    /*flex:1;*/
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.wrap{
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    /*align-items: center;*/
    /*justify-content: center;*/
    border-bottom: none;
}
/*.task:nth-child(1){*/
    /*border-bottom: none;*/
/*}*/
/*.task:last-child{*/
     /*border-bottom: none;*/
 /*}*/
.task{
    border-bottom: 1px solid darkgray;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

span{
    border-left: 1px solid darkgray;
    height: 100%;
    padding: 20px;
    flex: 10;
}

input {
    margin: 20px;
    text-align: center;
    align-items: center;
    /*flex: 1*/
}

input:checked + span{
    text-decoration:line-through;
}